# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

In order to be successful in Data Science, you need to be skilled with using tools that Data Science professionals employ as part of their jobs. This course teaches you about the popular tools in Data Science and how to use them.

- RStudio.
- Apache Spark.
- TensorFlow.
- Apache Hadoop.
- RapidMiner.

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. Java Script

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. ggplot2
3. Dplyr

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ralph Guerson Alcide